:root {
  --clr-primary-red: hsl(10, 79%, 65%);
  --clr-primary-red-light: hsl(10, 100%, 76%);
  --clr-secondary-cyan: hsl(186, 34%, 60%);
  --clr-secondary-cyan-light: hsl(186, 49%, 80%);

  --clr-neutral-dark-brown: hsl(25, 47%, 15%);
  --clr-neutral-medium-brown: hsl(28, 10%, 53%);
  --clr-neutral-cream: hsl(27, 66%, 92%);
  --clr-neutral-pale-orange: hsl(33, 100%, 98%);

  --font-family: "DM Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --fs-heading-xl: 3rem;
  --fs-heading-l: 2rem;
  --fs-body: 1.125rem;
  --fs-mini-caption: 0.9375rem;
}

* {
  font-family: var(--font-family);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 550px) {
  :root {
    --fs-heading-xl: 1.875rem;
    --fs-heading-l: 1.5rem;
    --fs-body: 0.9375rem;
    --fs-mini-caption: 0.75rem;
  }
}
